body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
}
a {
  text-decoration: none;
  color: #bbb;
}
a:hover {
  text-decoration: underline;
  color: dodgerblue;
}
th {
  padding: 1em 0.5em;
  text-align: left;
}
tbody tr:nth-child(odd) {
  background-color: #8fb4d8;
  color: #fff;
}
tbody tr {
  cursor: pointer;
}
tbody tr:hover {
  cursor: pointer;
  background-color: #6587a8;
}
.lastTH,
table td:last-child,
table th:last-child {
  text-align: right;
}
.emptyToDo {
  display: none;
  text-align: center;
}
table td:last-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding: 0.5em; */
}
td {
  padding: 0.5em;
}
.tableControls {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
}
#register {
  margin-left: 1em;
}
.todoTable {
  width: 100%;
  border: none;
}
.gifWrap {
  position: relative;
}
.gifLogin {
  position: absolute;
  bottom: 0.2em;
  left: 0;
}
.gifRegister {
  position: absolute;
  bottom: 0.2em;
  right: 0;
}
.gifContent {
  position: absolute;
  bottom: -0.5em;
  left: 0.2em;
}
.flex {
  display: flex;
}
.navigation {
  display: flex;
  align-items: center;
  min-height: 5vh;
  justify-content: space-between;
  padding: 1em;
  background-color: #234;
  color: #bbb;
}
.appName {
  margin: 0;
  font-weight: 400;
}
#main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  min-height: 80vh;
  padding: 0 5em;
}
.myBtn,
.sortSelect {
  font-size: 1rem;
  padding: 0.5em 1em;
  border-radius: 4px;
  border-color: rgb(75, 71, 85);
  cursor: pointer;
}
.greenBtn {
  background-color: rgb(180, 255, 180);
  border-color: green;
}
.myInput {
  font-size: 1rem;
  padding: 0.5em 1em;
  margin: 0.5em 0;
  border-radius: 6px;
}
.loginFormWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 350px;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  border: 1px solid #888;
  border-radius: 6px;
  width: 30%;
}
.noMargin {
  margin: 0;
}
.todoModalHeader,
.updateModalHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1em;
  border-bottom: 1px solid #999;
}
.inputWrap {
  display: flex;
  flex-direction: column;
  margin: 0.4em 0;
}
.canvasWrap {
  margin: 0.5em;
}
.inputLabel {
  font-size: 15px;
}
.todoModalBody,
.updateModalBody {
  display: flex;
  justify-content: center;

  width: 50%;
  padding: 0.5em 1em;
  margin: auto;
}
.todoBodyContentWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.todoModalFooter,
.updateModalFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em 1em;
  border-top: 1px solid #999;
}
.close {
  cursor: pointer;
}
